<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<a href="/" th:href="@{/}">トップページ</a>
<div>
    ●入力項目
    <form action="/search/result" method="get">
        <table>
            <tr>
                <td>タイトル</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="検索"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>